<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <h2>Enviar notificaciones:</h2>
    </div>
  </div>
  <div class="row">
    <form (ngSubmit)="handleForm()" [formGroup]="notificacionForm">
      <div class="col-7">
        <h3>Destinatarios</h3>
        <div class="form-group d-flex">
          <div>
            <label for="idTipoDestinatario">Tipo de Destinatarios:</label>
            <select
              class="form-control form-control-short"
              id="idTipoDestinatario"
              formControlName="tipoDestinatario"
              value=""
              (change)="onChange($event.target)"
            >
              <option value="" disabled selected>
                Seleccione los destinatarios
              </option>
              <option *ngFor="let tipo of tipoDestinatarios" value="{{ tipo }}">
                {{ tipo }}
              </option>
            </select>
            <!-- <p
              *ngIf="isValid('idTipoDestinatario')"
              class="form-error"
            >
              Por favor asignele un tipo a la actividad
            </p> -->
          </div>

          <div *ngIf="actividadSelect || turnoSelect">
            <label for="idActividad">Seleccione la actividad:</label>
            <select
              class="form-control form-control-short"
              id="idActividad"
              formControlName="actividad"
              value=""
              (change)="onChangeActividad($event.target)"
            >
              <option value="" disabled selected>
                Seleccione la Actividad
              </option>
              <option *ngFor="let actividad of actividades" value="{{ actividad.id }}">
                {{ actividad.nombre }}
              </option>
            </select>
          </div>

          <div *ngIf="turnoSelect && this.turnos.length > 0">
            <label for="idActividadTurno">Seleccione el turno:</label>
            <select
              class="form-control form-control-short"
              id="idActividadTurno"
              formControlName="turno"
              value=""
              (change)="onChangeTurno($event.target)"
            >
              <option value="" disabled selected>
                Seleccione el Turno
              </option>
              <option *ngFor="let turno of turnos" value="{{ turno.id }}">
                <p *ngFor="let horario of turno.horarios">
                  {{ parseHorarios(horario) }}
                </p>
              </option>
            </select>
          </div>

          <div *ngIf="socioSelect && this.socios.length > 0">
            <label for="idSocioSelect">Seleccione un socio:</label>
            <select
              class="form-control form-control-short"
              id="idSocioSelect"
              formControlName="socio"
              value=""
              (change)="onChangeSocio($event.target)"
            >
              <option value="" disabled selected>
                Seleccione un Socio
              </option>
              <option *ngFor="let socio of socios" value="{{ socio.id }}">
                {{ socio.usuario.nombre }} {{ socio.usuario.apellido }} - {{ socio.usuario.email }}
              </option>
            </select>
          </div>
        </div>

        <h3>Asunto</h3>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="asunto"
            placeholder="Asunto"
            formControlName="asunto"
          />
          <p *ngIf="isValid('asunto')" class="form-error">
            Por favor ingrese un asunto
          </p>
        </div>

        <h3>Mensaje</h3>
        <div class="form-group">
          <input
            type="text"
            class="form-control mensaje"
            id="mensaje"
            placeholder="Cuerpo del mensaje..."
            formControlName="mensaje"
          />
          <p *ngIf="isValid('mensaje')" class="form-error">
            Por favor ingrese un mensaje
          </p>
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary mt-3" (click)="handleForm()">
          ENVIAR NOTIFICACIÓN
        </button>
        <p class="form-success" *ngIf="notificationSuccess">
          ¡La notificación fue enviada correctamente!
        </p>
        <p class="form-error" *ngIf="notificationError">
          Algo salió mal, prueba enviando la notificación más tarde.
        </p>

      </div>
      <div class="col-4"></div>
    </form>
  </div>

  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-12"></div>
  </div>
</div>
