.nav-item {
  padding-left: 1rem;
}

ul {
  text-align: left;
  margin-top: 24px;
  height: 5vh;
  min-height: 4vh;
  padding:  8px;
  margin: 0px;
  display: flex;
  align-items: center;
}

ul.active {
  background-color: #8BF6FF;
}

a {
  padding: 3px 2px;
  margin: 0px;
}

ul:hover {
  background-color: #4FC3F7;
  color: white;
  transform: scale(1.1);
  transition: transform 0.5s;
}

a,
a:hover,
a:visited {
  width: 100%;
}

a.expand {
  width: 12rem;
}

span {
  font-size: 1rem;
}

