<div class="d-flex container-fluid">
  <section class="nav flex-column">
    <ul
      class="nav-item"
      *ngIf="permisos.reportes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/reportes" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon [icon]="report" class="form-icon" aria-hidden="true"></fa-icon>
        <span *ngIf="sidenavToggle">Reportes</span>
      </a>
    </ul>

    <ul
      class="nav-item"
      *ngIf="permisos.socios"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/socios" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon [icon]="users" class="form-icon" aria-hidden="true"></fa-icon>
        <span *ngIf="sidenavToggle">Socios</span>
      </a>
    </ul>

    <ul
      class="nav-item"
      *ngIf="permisos.actividades"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/actividades" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon
          [icon]="activities"
          class="form-icon"
          aria-hidden="true"
        ></fa-icon>
        <span *ngIf="sidenavToggle">Actividades</span>
      </a>
    </ul>

    <ul
      class="nav-item"
      *ngIf="permisos.asistencia"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/asistencia" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon
          [icon]="attendance"
          class="form-icon"
          aria-hidden="true"
        ></fa-icon>
        <span *ngIf="sidenavToggle">Asistencia</span>
      </a>
    </ul>

    <ul
      class="nav-item"
      *ngIf="permisos.tarifas"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/tarifas" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon
          [icon]="tarifas"
          class="form-icon"
          aria-hidden="true"
        ></fa-icon>
        <span *ngIf="sidenavToggle">Tarifas</span>
      </a>
    </ul>

    <ul
      class="nav-item"
      *ngIf="permisos.notificaciones"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/notificaciones" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon
          [icon]="notifications"
          class="form-icon"
          aria-hidden="true"
        ></fa-icon>
        <span *ngIf="sidenavToggle">Notificaciones</span>
      </a>
    </ul>

    <ul
      class="nav-item"
      *ngIf="permisos.pagos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/pagos" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon [icon]="pagos" class="form-icon" aria-hidden="true"></fa-icon>
        <span *ngIf="sidenavToggle">Contabilidad</span>
      </a>
    </ul>

    <ul
      class="nav-item"
      *ngIf="permisos.organizacion"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/organizacion" [ngClass]="{'expand': sidenavToggle}" class="link-regular">
        <fa-icon
          [icon]="organization"
          class="form-icon"
          aria-hidden="true"
        ></fa-icon>
        <span *ngIf="sidenavToggle">Mi Club</span>
      </a>
    </ul>

  </section>
  <section class="container-fluid">
    <router-outlet></router-outlet>
  </section>
</div>
