.position-relative {
  display: inline-block;
}

.form-control-search {
  padding-right: 2.5rem;
}

.form-icon-right {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: #6c757d;
  line-height: 1;
}

.form-icon-right:hover {
  color: #495057;
}
