/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  background-image: url('/assets/img/login1.jpg');
  background-size: cover;
  background-position-x: 0;
}

.container-fluid {
  padding: 0px;
}

.nav {
  font-size: 24px;
  font-weight: 400;
  background-color: #F5F5F5;
  height: 90vh;
  margin-right: 1rem
}

.d-flex {
  min-height: min-content;
}

.form-error {
  color: red;
  font-size: 0.8rem;
  display: inline;
}

.form-control-search {
  width: 20vw !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.-right {
  position: absolute;
  top: 7px;
  right: 14px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #323232;
}

.form-icon-right:hover {
  color: black
}

thead {
  background-color: #ff9900;
  color: white;
  font-size: 18px;
  position:sticky;
  top: -1px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
