/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-group {
  padding-bottom: 24px;
  width: 90%;
  margin: auto;
}

.form-group-small {
  padding-bottom: 24px;
  width: 40%;
  margin: auto;
}

.form-control {
  width: 90%;
}

.form-control-small {
  width: 12vw !important;
}

.form-error {
  color: red;
  font-size: 0.8rem;
  display: inline;
}

.btn {
  width: 20vw;
  margin: auto 1rem;
}

.btn-close:hover {
  background-color: #f2f2f2;
}

.form-icon-right {
  position: absolute;
  top: 7px;
  right: 7px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #323232;
}

div.position-relative {
  width: fit-content;
}

.action-icon {
  font-size: 1rem;
  margin-left: 8px;
}

thead {
  position:sticky;
  top: -1px;
}

.table-link {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.tabla-vacia {
  font-size: 24px;
  text-align: center;
}

tr:hover {
  cursor: pointer;
}
