.card-img-top {
  width: 40%;
  margin: 0.5rem auto;
  height: 40%;
}

.card:hover {
  background-color: #4FC3F7;
  color: white;
  transform: scale(1.01);
  transition: transform 0.5s;
  cursor: pointer;
}

.card-reportes {
  height: 250px;
  width: 250px;
  margin: 2rem;
  padding-top: 1rem;
}

.nav {
  height: 50%;
  font-size: 1rem;
  background-color: #F5F5F5;
}

h2.nav-link {
  color: #000;
  cursor: pointer;
  height: 100%;
  margin: auto;
}

h2.nav-link:hover {
  background-color: white;
  color: #4FC3F7;
}

h2.nav-link.active {
  color: white;
  background-color: #4FC3F7;
}
