<header class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div
        class="d-flex align-items-center toggle-button h-100"
        (click)="toggleButton()"
      >
        <fa-icon [icon]="bar" class="form-icon" aria-hidden="true"></fa-icon>
      </div>
    </div>

    <div class="col-6">
      <div class="d-flex justify-content-center algin-items-center">
        <img src="assets/logo/logo.png" alt="Referi Logo" class="logo" />
      </div>
    </div>

    <div class="col-3 position-relative">
      <div class="d-flex justify-content-end algin-items-center">
        <button
          class="btn btn-profile dropdown"
          type="button"
          (click)="toggleProfile('dropdownMenuButton')"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="container">
            <div class="row">
              <div class="col-8">
                <span>{{ user?.data?.nombre }} {{ user?.data?.apellido }}</span>
                <p>{{ rol }}</p>
              </div>
              <div class="col-4 d-flex align-items-center">
                <img class="profile" src="{{ profileImg }}" alt="Avatar" />
              </div>
            </div>
          </div>
        </button>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item" routerLink="/perfil">Perfil</a>
          <button
            class="dropdown-item"
            type="button"
            (click)="openModal('modalCambiarContrasenia')"
          >
            Cambiar contraseña
          </button>
          <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Modal Cambiar contraseña -->
<div
  class="modal fade"
  #modal
  id="modalCambiarContrasenia"
  tabindex="-1"
  aria-labelledby="modalCambiarContrasenia"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cambiar Contraseña:</h3>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal('modalCambiarContrasenia')"
        ></button>
      </div>
      <div class="modal-body" [formGroup]="contraseniaForm">
        <div class="form-group position-relative">
          <input
            type="{{ !passwordVisible.old ? 'password' : 'text' }}"
            class="form-control"
            id="oldPassword"
            placeholder="Contraseña Actual"
            formControlName="oldPassword"
          />
          <button
            class="form-icon-right"
            (click)="togglePassword($event, 'old')"
            type="button"
          >
            <fa-icon
              *ngIf="!passwordVisible.old"
              [icon]="eye"
              aria-hidden="true"
            ></fa-icon>
            <fa-icon
              *ngIf="passwordVisible.old"
              [icon]="eyeSlash"
              aria-hidden="true"
            ></fa-icon>
          </button>
          <p *ngIf="isValid('oldPassword')" class="form-error">
            Por favor ingrese su actual contraseña
          </p>
        </div>

        <div class="form-group position-relative">
          <input
          type="{{ !passwordVisible.new ? 'password' : 'text' }}"
            class="form-control"
            id="newPassword"
            placeholder="Nueva Contraseña"
            formControlName="newPassword"
          />
          <button
            class="form-icon-right"
            (click)="togglePassword($event, 'new')"
            type="button"
          >
            <fa-icon
              *ngIf="!passwordVisible.new"
              [icon]="eye"
              aria-hidden="true"
            ></fa-icon>
            <fa-icon
              *ngIf="passwordVisible.new"
              [icon]="eyeSlash"
              aria-hidden="true"
            ></fa-icon>
          </button>
          <p *ngIf="isValid('newPassword')" class="form-error">
            Por favor ingrese su nueva contraseña
          </p>
        </div>

        <div class="form-group position-relative">
          <input
          type="{{ !passwordVisible.confirm ? 'password' : 'text' }}"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirmar Contraseña"
            formControlName="confirmPassword"
          />
          <button
            class="form-icon-right"
            (click)="togglePassword($event, 'confirm')"
            type="button"
          >
            <fa-icon
              *ngIf="!passwordVisible.confirm"
              [icon]="eye"
              aria-hidden="true"
            ></fa-icon>
            <fa-icon
              *ngIf="passwordVisible.confirm"
              [icon]="eyeSlash"
              aria-hidden="true"
            ></fa-icon>
          </button>
          <p *ngIf="isValidRepeatPassword()" class="form-error">
            Por favor ingrese nuevamente la nueva contraseña
          </p>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="handleForm()">
          CAMBIAR CONTRASEÑA
        </button>
      </div>
      <p class="form-succes" *ngIf="changePasswordSucces">
        Se actualizó la contraseña correctamente
      </p>
      <p class="form-error" *ngIf="changePasswordFail">
        Verifique los datos ingresados e intente nuevamente
      </p>
    </div>
  </div>
</div>
