/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-group {
  padding-bottom: 24px;
  width: 90%;
  margin: auto;
}

.form-group-small {
  padding-bottom: 24px;
  width: 40%;
}

.form-control {
  width: 90%;
}

.form-control-small {
  width: 12vw !important;
  margin: 0px;
}

.form-error {
  color: red;
  font-size: 0.8rem;
  display: inline;
}

.btn {
  width: 20vw;
  margin: auto 1rem;
}

.btn-horario:hover {
  background-color: #bbbec3;
}

p.success {
  color:green;
}
