<div class="container m-3">
  <div class="row">
    <h2>Detalle de la Actividad:</h2>
  </div>
  <form (ngSubmit)="handleForm()" [formGroup]="actividadForm" class="container-fluid">
    <div class="row">
      <div class="col-6 col-sm">
        <h3>Datos de la Actividad</h3>

        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Nombre"
          formControlName="nombre"
          value="{{actividad?.nombre}}"
          />
          <p *ngIf="isValid('nombre')" class="form-error">
            Por favor asignele un nombre a la actividad
          </p>
        </div>

        <div class="form-group">
          <label for="idTipoActividad">Tipo de Actividad:</label>
          <select
            class="form-control"
            id="tipo"
            formControlName="idTipoActividad"
            value="{{actividad?.tipo?.id}}"
          >
            <option
              *ngFor="let tipo of tipoActividad"
              value="{{ tipo.id }}"
            >
              {{ tipo.tipo }}
            </option>
          </select>
          <p
            *ngIf="isValid('idTipoActividad')"
            class="form-error"
          >
            Por favor asignele un tipo a la actividad
          </p>
        </div>

        <div class="form-group">
          <label for="fecha">Fecha de creacion:</label>
          <input
          type="text"
          class="form-control"
          id="fecha"
          placeholder="Fecha de inicio"
          value="{{ fechaCreacion }}"
          disabled
          style="background-color: white; border: none;"
          />
        </div>

        <div class="form-group">
          <label for="cupo">Cupo:</label>
          <input
          type="number"
          class="form-control"
          id="cupo"
          placeholder="Cupo"
          formControlName="cupo"
          value="{{actividad?.cupo}}"
          />
          <p *ngIf="isValid('cupo')" class="form-error">
            Por favor asignele un nombre a la actividad
          </p>
        </div>

        <!-- <div class="form-group">
          <input
          type="text"
          class="form-control"
          id="espacio"
          placeholder="Espacio"
          />
          <p *ngIf="isValid('espacio')" class="form-error">
            formControlName="espacio"
            Por favor asignele un nombre a la actividad
          </p>
        </div> -->

      </div>


      <div class="col-4 col-sm">
        <h3>Tarifas</h3>
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          id="tarifa"
          placeholder="Tipo de tarifa"
          />
          <!-- <p *ngIf="isValid('tarifa')" class="form-error">
            formControlName="tarifa"
            Por favor asignele un tarifa a la actividad
          </p> -->
        </div>
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          id="monto"
          placeholder="Monto"
          />
          <!-- <p *ngIf="isValid('monto')" class="form-error">
            formControlName="monto"
            Por favor asignele un monto a la actividad
          </p> -->
        </div>
        <div class="form-group">
          <button class="btn btn-primary">AGREGAR TARIFA</button>
        </div>

        <h3>Horarios</h3>
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          id="dia"
          placeholder="Día de la semana"
          />
          <!-- <p *ngIf="isValid('dia')" class="form-error">
            formControlName="dia"
            Por favor asignele un dia a la actividad
          </p> -->
        </div>
        <div class="d-flex flex-row justify-content-around">

          <div class="form-group-small">
            <input
            type="text"
            class="form-control form-control-small"
            id="hora"
            placeholder="Hora de inicio"
            />
            <!-- <p *ngIf="isValid('hora')" class="form-error">
              formControlName="hora"
              Por favor asignele un hora a la actividad
            </p> -->
          </div>
          <div class="form-group-small">
            <input
            type="text"
            class="form-control form-control-small"
            id="duración"
            placeholder="Duración"
            />
            <!-- <p *ngIf="isValid('duración')" class="form-error">
              formControlName="duración"
              Por favor asignele un duración a la actividad
            </p> -->
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary">AGREGAR HORARIO</button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
        <a routerLink="/actividades/crear/confirmar" class="btn btn-secondary">AGREGAR HORARIO</a>
    </div>
  </form>
</div>
