<div class="container-fluid mt-3 main-container">
  <div class="row">
    <h2>Reportes:</h2>
  </div>
  <div class="row">
    <ul class="nav">
      <li class="nav-item">
        <h2
          class="nav-link"
          [ngClass]="{ active: selectedTab == 'Socios' }"
          (click)="select('Socios')"
        >
          Socios
        </h2>
      </li>
      <li class="nav-item">
        <h2
          class="nav-link"
          [ngClass]="{ active: selectedTab == 'Actividades' }"
          (click)="select('Actividades')"
        >
          Actividades
        </h2>
      </li>
      <li class="nav-item">
        <h2
          class="nav-link"
          [ngClass]="{ active: selectedTab == 'Ingresos' }"
          (click)="select('Ingresos')"
        >
          Ingresos
        </h2>
      </li>
    </ul>
  </div>
  <div class="row">
    <section
      class="col-10 d-flex justify-content-start align-items-center"
      *ngIf="selectedTab == 'Socios'"
    >
      <a [routerLink]="['/', 'reportes', 'cant-inscriptos-mes']">
        <div class="card card-reportes">
          <img
            src="/assets/img/chart.png"
            class="card-img-top"
            alt="Gráfico de lineas"
          />
          <div class="card-body">
            <h3 class="card-title text-center">
              Cantidad de Inscriptos por Mes
            </h3>
          </div>
        </div>
      </a>

      <a [routerLink]="['/', 'reportes', 'rango-etario-socios']">
        <div class="card card-reportes">
          <img
            src="/assets/img/pie.png"
            class="card-img-top"
            alt="Gráfico de torta"
          />
          <div class="card-body">
            <h3 class="card-title text-center">
              Distribución de Rango Etario de Socios
            </h3>
          </div>
        </div>
      </a>

      <a [routerLink]="['/', 'reportes', 'socios-por-estado']">
        <div class="card card-reportes">
          <img
            src="/assets/img/pie.png"
            class="card-img-top"
            alt="Gráfico de torta"
          />
          <div class="card-body">
            <h3 class="card-title text-center">
              Distribución de socios por estado
            </h3>
          </div>
        </div>
      </a>
    </section>

    <section
      class="col-10 d-flex justify-content-start align-items-center"
      *ngIf="selectedTab == 'Actividades'"
    >
      <a [routerLink]="['/', 'reportes', 'cant-inscriptos-actividad-mes']">
        <div class="card card-reportes">
          <img
            src="/assets/img/chart.png"
            class="card-img-top"
            alt="Gráfico de lineas"
          />
          <div class="card-body">
            <h3 class="card-title text-center">
              Cantidad de inscriptos por Actividad por mes
            </h3>
          </div>
        </div>
      </a>

      <a [routerLink]="['/', 'reportes', 'rango-etario-actividad']">
        <div class="card card-reportes">
          <img
            src="/assets/img/pie.png"
            class="card-img-top"
            alt="Gráfico de torta"
          />
          <div class="card-body">
            <h3 class="card-title text-center">
              Distribución de rango etario de socios por Actividad
            </h3>
          </div>
        </div>
      </a>
    </section>

    <section
      class="col-10 d-flex justify-content-start align-items-center"
      *ngIf="selectedTab == 'Ingresos'"
    >
      <div class="card card-reportes">
        <img
          src="/assets/img/chart.png"
          class="card-img-top"
          alt="Gráfico de lineas"
        />
        <div class="card-body">
          <h3 class="card-title text-center">Ingresos por actividad</h3>
        </div>
      </div>

      <div class="card card-reportes">
        <img
          src="/assets/img/chart.png"
          class="card-img-top"
          alt="Gráfico de lineas"
        />
        <div class="card-body">
          <h3 class="card-title text-center">Deuda por actividad</h3>
        </div>
      </div>

      <div class="card card-reportes">
        <img
          src="/assets/img/pie.png"
          class="card-img-top"
          alt="Gráfico de torta"
        />
        <div class="card-body">
          <h3 class="card-title text-center">
            Socios deudores por rango de fecha
          </h3>
        </div>
      </div>
    </section>
  </div>
</div>
