<div class="container-fluid mt-3">
  <div class="row">
    <h2>Reportes:</h2>
  </div>
  <div class="row">
    <div class="col-3">
      <h3>Socios</h3>
    </div>
    <div class="col-7">
      <ul>
        <li>
          <a href="#"> Cantidad de inscriptos por mes </a>
        </li>
        <li>
          <a href="#"> Distribución de rango etario de socios </a>
        </li>
        <li>
          <a href="#"> Distribución de socios por estado </a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <h3>Actividades</h3>
    </div>
    <div class="col-7">
      <ul>
        <li>
          <a href="#"> Cantidad de inscriptos por mes </a>
        </li>
        <li>
          <a href="#"> Cantidad de inscriptos por actividad </a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <h3>Ingresos</h3>
    </div>
    <div class="col-7">
      <ul>
        <li>
          <a href="#"> Ingresos por actividad </a>
        </li>
        <li>
          <a href="#"> Deuda por actividad </a>
        </li>
        <li>
          <a href="#"> Socios deudores por rango de fecha </a>
        </li>
      </ul>
    </div>
  </div>
</div>
