.card-img-top {
  width: 40%;
  margin: 0.5rem auto;
  height: 40%;
}

.card:hover {
  background-color: #4FC3F7;
  color: white;
  transform: scale(1.01);
  transition: transform 0.5s;
  cursor: pointer;
}

.card-reportes {
  height: 200px;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 16rem;
}
