<div class="modal fade" [id]="id" tabindex="-1" [attr.aria-labelledby]="id" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <ng-content select="[modal-body]"></ng-content>
      </div>
      <div class="modal-footer justify-content-center">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
