<div class="container-fluid main-container">
  <section class="row">
    <div class="col-sm-12 mt-3">
      <h2>Información del Socio:</h2>
    </div>
  </section>

  <section class="row justify-content-around align-items-center">
    <div class="col-md-4 col-sm-12 mt-3 img-container">
      <img src="{{ profileImg }}" alt="Foto de perfil" class="profile-img" />
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-6">
          <div class="mt-3">
            <p>Nombre completo</p>
            <h3>{{ user?.nombre }} {{ user?.apellido }}</h3>
          </div>

          <div class="mt-3">
            <p>DNI</p>
            <h3>{{ user?.dni }}</h3>
          </div>

          <div class="mt-3">
            <p>Domicilio</p>
            <h3>
              {{ user?.domicilio?.calle }} {{ user?.domicilio?.numero }},
              {{ user?.domicilio?.ciudad }}, {{ user?.domicilio?.provincia }}
            </h3>
          </div>
        </div>

        <div class="col-6">
          <div class="mt-3">
            <p>Correo electrónico</p>
            <h3>{{ user?.email }}</h3>
          </div>

          <div class="mt-3">
            <p>Fecha de nacimiento:</p>
            <h3>{{ birthDate }}</h3>
          </div>

          <div class="mt-3">
            <p>Teléfono</p>
            <h3>{{ user?.telefono }}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row justify-content-start">
    <div class="col-md-4 col-sm-12 mt-3">
      <h2>Actividades:</h2>
    </div>
  </div>

  <!-- <div class="row">
    <carousel class="carousel">
      <article
      class="carousel-cell"
      *ngFor="let inscripcion of inscripciones"
      >
      <a
        class="actividad-link d-flex"
        routerLink="/actividades/detalle/{{
          inscripcion.turnoActividad.actividad.id
        }}"
      >
          <div class="img-container carousel-section">
            <img
              src="{{
                getImageUrl(inscripcion.turnoActividad.actividad.imgUrl)
              }}"
              alt="Portada de actividad"
              class="img-actividad"
            />
          </div>
          <div class="carousel-section">
            <h3>{{ inscripcion.turnoActividad.actividad.nombre }}</h3>
            <p>
              <span *ngFor="let horario of inscripcion.turnoActividad.horarios">
                {{ formatHorarios(horario) }}
                <br />
              </span>
            </p>
            <span class="estado">Activo</span>
          </div>
        </a>
      </article>
    </carousel>
    <button
      type="button"
      (click)="openModal()"
      class="btn btn-outline-danger align-self-center"
    >
      DAR DE BAJA
    </button>
  </div> -->
</div>

<!-- Modale Crear Turno -->
<div class="modal fade" tabindex="-1" id="modalBaja">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">BAJA SOCIO:</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="bajaForm" class="container-fluid" *ngIf="load">
              <div class="row">
                <div class="col-10 col-sm">
                  <h3>Seleccione la inscripción a dar de baja:</h3>

                  <div class="form-group">
                    <select
                      class="form-control"
                      id="actividadSelect"
                      formControlName="idInscripcion"
                      [value]=""
                    >
                      <option value="" disabled selected>
                        Seleccione la actividad
                      </option>
                      <option
                        *ngFor="let inscripcion of inscripciones"
                        value="{{ inscripcion.id }}"
                      >
                        {{ inscripcion.turnoActividad.actividad.nombre }}:
                        <p
                          *ngFor="
                            let horario of inscripcion.turnoActividad.horarios
                          "
                        >
                          {{ helper.formatHorarios(horario) }}
                        </p>
                      </option>
                    </select>
                    <p *ngIf="isValid('idInscripcion')" class="form-error">
                      Por favor elija una inscripción
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-danger m-3"
            (click)="handleForm()"
            [disabled]="bajaForm.invalid"
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              *ngIf="spinner"
            ></span>
            CONFIRMAR BAJA
          </button>
          <p class="form-success" *ngIf="bajaSucces">
            ¡La baja se realizó con éxito!
          </p>
          <p class="form-error" *ngIf="bajaError">
            Ocurrió un error, intente de nuevo más tarde...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
