
<div class="modal fade" tabindex="-1" id="modalContrasenia">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Recuperar contraseña</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <form
              (ngSubmit)="handleForm()"
              [formGroup]="recoverForm"
              class="container-fluid"
            >
              <div class="row">
                <div class="col-10 col-sm">
                  <h3>Ingrese el correo electrónico de la cuenta a recuperar</h3>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                      formControlName="email"
                    />
                    <p *ngIf="isValid('email')" class="form-error">
                      Por favor asignele un email válido
                    </p>
                    <p *ngIf="emailStatus" class="form-success">
                      Se envió un correo electrónico a la cuenta ingresada
                    </p>
                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="btn btn-primary"
              (click)="handleForm()"
              [disabled]="recoverForm.invalid"
              >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="spinner"
              ></span>
              RECUPERAR CONTRASEÑA
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
