.form-control {
  width: 100%;
}

.form-icon-right {
  position: absolute;
  top: 7px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #323232;
}

.form-check {
  font-size: 1rem;
  margin-top: 1rem;
}

div.position-relative {
  width: fit-content;
}

.btn {
  width: 20vw;
}

.action-icon {
  font-size: 1rem;
  margin-left: 8px;
}

thead {
  position:sticky;
  top: -1px;
}

.action-button {
  border: none;
  color: #377BFF;
}

.action-button:hover {
  color: #8BF6FF;
}
