<div class="container m-3">
  <div class="row">
    <h2>{{organizacion?.nombre}}:</h2>
  </div>
  <form [formGroup]="organizacionForm" class="container-fluid" *ngIf="this.load">
    <div class="row">
      <div class="col-4 mt-3 position-relative img-div">
        <img
          *ngIf="organizacion"
          src="{{imgUrl}}"
          alt="imagen de la organizacion"
          class="profile-img"
        />
        <label class="upload-image" for="file">
          <fa-icon
              [icon]="pencil"
              aria-hidden="true"
            ></fa-icon>
        </label>
        <input
          type="file"
          class="d-none"
          id="file"
          (change)="onChange($event)"
        />
      </div>
      <div class="col-6 col-sm">
        <h3>Datos de la Organización</h3>

        <div class="container-fluid row">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Nombre"
          formControlName="nombre"
          value="{{organizacion?.nombre}}"
          />
          <p *ngIf="isValid('nombre')" class="form-error">
            Por favor asignele un nombre a su organización
          </p>
        </div>

        <div class="form-group">
          <label for="descripción">Descripción:</label>
          <input
          type="text"
          class="form-control"
          id="descripcion"
          placeholder="Descripción"
          formControlName="descripcion"
          value="{{organizacion?.descripcion}}"
          />
          <p *ngIf="isValid('descripcion')" class="form-error">
            Por favor asignele una descripción a su organización
          </p>
        </div>

        <div class="form-group form-group-small">
          <label for="descripción">Telefono:</label>
          <input
          type="text"
          class="form-control"
          id="telefono"
          placeholder="Teléfono"
          formControlName="telefono"
          value="{{organizacion?.telefono}}"
          />
          <p *ngIf="isValid('telefono')" class="form-error">
            Por favor asignele un teléfono a su organización
          </p>
        </div>

        <div class="form-group form-group-small">
          <label for="idTipoActividad">Tipo de Organización:</label>
          <select
            class="form-control"
            id="tipo"
            formControlName="tipo"
            value="{{organizacion?.tipo?.id}}"
          >
            <option
              *ngFor="let tipo of tipoOrganizacion"
              value="{{ tipo.id }}"
            >
              {{ tipo.nombre }}
            </option>
          </select>
          <p
            *ngIf="isValid('tipo')"
            class="form-error"
          >
            Por favor asignele un tipo a su organización
          </p>
        </div>

        <div class="form-group form-group-small">
          <label for="descripción">Calle:</label>
          <input
          type="text"
          class="form-control"
          id="calle"
          placeholder="Calle"
          formControlName="calle"
          value="{{organizacion?.direccion?.calle}}"
          />
          <p *ngIf="isValid('calle')" class="form-error">
            Por favor asignele una calle a su organización
          </p>
        </div>

        <div class="form-group form-group-small">
          <label for="descripción">Número:</label>
          <input
          type="number"
          class="form-control"
          id="numero"
          placeholder="Número"
          formControlName="numero"
          value="{{organizacion?.direccion?.numero}}"
          />
          <p *ngIf="isValid('numero')" class="form-error">
            Por favor asignele una dirección válida a su organización
          </p>
        </div>

        <div class="form-group form-group-small">
          <label for="descripción">Ciudad:</label>
          <input
          type="text"
          class="form-control"
          id="ciudad"
          placeholder="Ciudad"
          formControlName="ciudad"
          value="{{organizacion?.direccion?.ciudad}}"
          />
          <p *ngIf="isValid('ciudad')" class="form-error">
            Por favor asignele una ciudad a su organización
          </p>
        </div>

        <div class="form-group form-group-small">
          <label for="descripción">Provincia:</label>
          <input
          type="text"
          class="form-control"
          id="provincia"
          placeholder="Provincia"
          formControlName="provincia"
          value="{{organizacion?.direccion?.provincia}}"
          />
          <p *ngIf="isValid('provincia')" class="form-error">
            Por favor asignele una provincia a su organización
          </p>
        </div>


        <div class="form-group form-group-small">
          <label for="fecha">Fecha de creacion:</label>
          <input
          type="text"
          class="form-control"
          id="fechaIni"
          placeholder="Fecha de inicio"
          value="{{ fechaCreacion }}"
          disabled
          style="background-color: white; border: none;"
          />
        </div>

        <div class="form-group form-group-small">
          <label for="fecha">Fecha de última actualización:</label>
          <input
          type="text"
          class="form-control"
          id="fechaFin"
          placeholder="Fecha de inicio"
          value="{{ fechaActualizacion }}"
          disabled
          style="background-color: white; border: none;"
          />
        </div>

        </div>
      </div>

      <div class="col-12 col-sm d-flex justify-content-end">
        <a class="btn btn-info" routerLink="espacios" >AGREGAR ESPACIOS</a>
        <a class="btn btn-info" routerLink="personal" >AGREGAR PERSONAL</a>
        <button class="btn btn-primary" (click)="saveUpdate()">GUARDAR CAMBIOS</button>
      </div>
    </div>

  </form>
</div>
